.footer__columns {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 90%;
    margin-top: 0;
    align-items: normal;
  }