.header__main-illustration {
    display: flex;
    position: absolute;
    margin-right: 0;
    margin-bottom: 0;
    width: 765px;
    height: 608px;
    bottom: 0;
    right: 0;
    justify-content: right;
    z-index: 1;
  }